@font-face {
    font-family: 'GothamRounded-Bolt';
    src: url(../fonts/GothamRounded-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'GothamRounded-Book';
    src: url(../fonts/GothamRounded-Book.otf) format("opentype");
}


/* header*/
header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 900px;
}

.header-content{
color: #ffffff;
}

.redes{
    margin-left:auto;    
    right: 30px;
    position: fixed;
    margin-right: 30px;

}
.portada{
    background-image: url(../img/head.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;   
    background-attachment: fixed;
   
}
#btnNServicios{
    background-color:#fdc961;
    color: #000000;
    font-weight: 900;
    font-family: 'GothamRounded-Bolt';
 }

/*contenido*/
.planes{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    
}


h2,h3,h4{
    margin-right: 50px;
}

h2{    
    font-family: "GothamRounded-Bolt",Arial,sans-serif;
    font-size: 60px;   
    line-height: 4rem; 
    margin-bottom: 30px;
    margin-top: 30px;
}

h3,h4 {
    font-family: "GothamRounded-Book",Arial,sans-serif;   
}

h3 {     
    font-size: 25px; 
}

h4 {   
    font-size: 20px; 
}

.comentario{
    font-size: 10px; 
    margin-right: 30px;         
    text-align: left; 
}
p{
    line-height: normal;
}

.subtitulo{
    font-size: 15px; 
    color: #fcba03;    
}
.suscribite{
    color: white;
    background-color: #2abd28;
    font-family: "GothamRounded-Bolt",Arial,sans-serif;      
    font-size: 15px;  

}

/* botones*/
.btn{
border-style: solid;
border-color: black;
border-radius: 0;
}

.btn-detalle{
    font-family: 'GothamRounded-Bolt';
}
.btn-detalle:hover {
    background-color:#fcba03;
  }

/* imágenes*/
  .star {
    height: 30px;
    width: 30px;
}
  .icono{
    height: 60px;
    width: 60px;
  }
  .icono-redes{
    height: 50px;
    width: 50px;
    margin-top: 2px;
    
  }
 .img-dec{
     width: 100%;
     height: auto;
 }
 .logo{
    height: 90px;
    width: auto;      
    
    
 }




 /* footer */
 footer{
     background-color: #631658;
     color: white;
 }
 
 .margin-footer{
    margin-top: 60px;    
    
    margin-right: 50px;
 }

 #n-footer{
    color: #fdc93b; 
 }

 .logo-footer{
    height: 60px;
    width: auto;  
 }



